<h4 class='text-black'>Your Top Customers - <%= link_to "View All", chef_customers_path, class: 'red-link' %></h4>
<table class="table table-striped table-bordered customer-table">
<tr>
  <th>
    Name
  </th>
  <th>
    Total Orders Placed
  </th>
</tr>
  <% customers.each do |customer| %>
  <tr class='customer-row'>
    <td>
      <%= link_to customer.name, user_profile_path(customer), class: 'red-link' %>
    </td>
    <td>
      <%= customer.placed_orders_count %>
    </td>
  </tr>
  <% end %>
</table>
