@import 'bootstrap-sprockets';
@import 'bootstrap';

// brand yellow: rgb(234,176,29)
// brand red: rgb(191,33,16)
// hover orange: rgb(234,74,29)

$brand-red: rgb(191,33,16);
$brand-yellow: rgb(238,191,74);
$hover-orange: rgb(234,74,29);

.yes-chef {
  font-family: 'Pacifico', cursive;
}

.brand-yellow {
  color: $brand-yellow;
}

#main-logo {
  color: $brand-yellow;
  font-size: 34px;
}

#welcome-message {
  margin-bottom: 22px;
}

.title {
  color: $brand-red;
}

.sign-up-btns {
  border-radius: 25px;
  display: inline-block;
  height: 100%;
}

.signup-well {
  margin-bottom: 0;
  border-radius: 0;
  border-color: white;
  border-bottom: 2px dotted white;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #222;
  &:first-child {
    border-top: 1px solid white;
  }
  &:last-child {
    border-bottom: 1px solid white;
  }
  .well-title {
    font-weight: 600;
    color: $brand-yellow;
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.13em;
  }
  .well-text {
    margin-bottom: 5px;
    color: white;
  }
}

.well-links {
  a {
    color: $brand-yellow;
    &:hover {
      text-decoration: none;
      color: rgb(215,168,51);
    }
  }
}

.well-btn {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(191,33,16);
  color: #FFF;
  border: none;
  border-radius: 0;
  &:hover {
    background-color: rgb(175,15,0);
    color: white;
  }
}

.main-nav {
  background-color: rgb(191,33,16);
  border: none;
  border-radius: 0;
  .navbar-brand {
    color: $brand-yellow;
    &:hover {
      color: $brand-red;
      background-color: $brand-yellow;
    }
  }
  .collapsed {
    border-color: $brand-yellow;
    &:hover {
      background-color: rgb(175,15,0);
    }
  }
  .icon-bar {
    background-color: $brand-yellow !important;
  }
}

.testimonial-wrapper {
  .food-img {
    max-height: 400px;
  }
  .avatar {
    max-height: 75px;
    border-radius: 100%;
  }
  .testimonial {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.grey-well, .gray-well {
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.main-footer {
  background-color: black;
  vertical-align: center;
  margin-bottom: 0;
  margin-top: 40px;
  border-radius: 0;
  a {
    font-family: 'Pacifico', sans-serif;
    color: white;
    height: 20px;
    float: right;
    &:hover  {
      color: $brand-yellow;
      text-decoration: none;
    }
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}

.text-muted {
  color: #CCC;
}

table {
  th {
    text-align: center
  }
}

.link {
  margin-right: 20px;
}

.navbar-right {
  li > a {
    display: inline-block;
    color: $brand-yellow !important;
    &:hover {
      color: $brand-red !important;
      background-color: $brand-yellow !important;
    }
  }
}

.nav .nav-divider {
  border-bottom: 1px solid #ddd;
  width: 100%;
  display: block;
  height: 1px;
  margin: 0;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

a.full-size {
  display: block;
  width: 100%;
  height:100%;
}

.progress {
  .bar {
    padding-left: 0.2em;
    color:   white;
    display: none;
  }
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.image-upload-section{
  margin-top: -50px;
  margin-bottom: 50px;
}

.bordered{
  border: 2px solid #333;
  border-radius: 6px;
  padding: 15px;
}

.spaced {
  margin-top: 20px;
  margin-bottom: 20px
}

img {
  max-width: 100%;
}

.form-links {
  a {
    display: inline-block;
    margin-top: 10px;
  }
}

// footer {
//   padding: 100px;
// }
